<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"> </script>
  </head>

  <body>
  <h1>Twitter's Sentiment Toward Trump</h1>
  <script src="{{ url_for('static', filename='script_.js') }}"></script>
    <div class="wrapper">
      <canvas id="myChart" width="800" height="450"></canvas>
    </div>

     
    
  </body>
</html>
